/* Geral */
* {
    box-sizing: border-box; /* Define o modelo de caixa para todos os elementos para que width e height incluam padding e border */
}

/* Corpo */
body {
    height: 100vh; /* Altura total da janela de visualização */
    margin: 0 auto; /* Centraliza o conteúdo horizontalmente */
    font-family: Helvetica, sans-serif; /* Define a fonte para todo o corpo */
    font-size: 16px; /* Tamanho de fonte base */
}

/* Container */
.container {
    width: 100%; /* Largura completa do container */
    height: 100%; /* Altura completa do container */
}

/* Hero Section */
.hero {
    height: 80%; /* Altura é 80% do seu contêiner */
    max-height: 520px; /* Máximo de altura permitida */
    background: #f5f3f4; /* Cor de fundo da seção hero */
}

/* Cabeçalho */
.header {
    display: flex; /* Flexbox para alinhamento dos itens */
    justify-content: flex-end; /* Alinha os itens ao final do container */
    margin: 0 45px; /* Margem em torno do header */
}

/* Lista de navegação no cabeçalho */
.header ul {
    display: flex; /* Flexbox para os itens da lista */
    align-items: center; /* Alinha os itens verticalmente ao centro */
}

.header ul li {
    list-style: none; /* Remove os marcadores da lista */
    margin: 0 25px; /* Margem entre os itens da lista */
    color: #3e3e3e; /* Cor dos itens */
}

.header ul li a {
    text-decoration: none; /* Remove o sublinhado dos links */
    color: #3e3e3e; /* Cor do texto dos links */
}

.header ul li a:hover {
    color: #ea1d2c; /* Cor do texto ao passar o mouse */
}

.header ul li {
    color: #ea1d2c; /* Cor dos itens */
}

.header ul li:last-child {
    background: #fff; /* Fundo branco para o último item */
    padding: 15px 45px; /* Padding dentro do último item */
    margin: 0 0 0 25px; /* Margem especifica para o último item */
    border-radius: 5px; /* Bordas arredondadas */
    border: 1px solid #dcdcdc; /* Borda sólida */
    font-weight: 500; /* Peso da fonte */
}

.header ul li:last-child:hover {
    background: #ea1d2c; /* Fundo vermelho ao passar o mouse */
    color: #fff; /* Texto branco ao passar o mouse */
}

/* Background Section */ 
.bg {
    display: flex; /* Flexbox para alinhamento interno */
    height: 100%; /* Altura total da seção */
    padding-bottom: 20px; /* Espaçamento no fundo */
}

.left img {
    position: absolute; /* Posicionamento absoluto */
    width: 400px; /* Largura fixa */
    top: 0; /* Topo do container */
    left: 0; /* Esquerda do container */
}

.left .svg {
    width: 160px; /* Largura fixa para SVG */
    height: 180px; /* Altura fixa para SVG */
    left: 50px; /* Posição da esquerda */
    top: 257px; /* Posição do topo */
}

.right img {
    position: absolute; /* Posicionamento absoluto */
    width: 240px; /* Largura fixa */
    top: 204px; /* Topo fixo */
    right: 0; /* Direita do container */
}

.right .svg {
    width: 198px; /* Largura do SVG */
    height: 172px; /* Altura do SVG */
    right: 138px; /* Posição da direita */
    top: 106px; /* Posição do topo */
    transform: rotate(-8deg); /* Rotação do SVG */
}

.content {
    width: 100%; /* Largura completa do conteúdo */
    display: flex; /* Flexbox para o alinhamento interno */
    flex-direction: column; /* Orientação da flexbox para coluna */
    justify-content: center; /* Centraliza o conteúdo verticalmente */
    align-items: center; /* Centraliza o conteúdo horizontalmente */
}

.content .logo {
    width: 120px; /* Largura do logo */
}

.content h2 {
    font-size: 2.5rem; /* Tamanho da fonte para h2 */
    color: #3e3e3e; /* Cor do texto */
    font-weight: 600; /* Peso da fonte */
    margin: 20px 0; /* Margem ao redor do h2 */
}

.content p {
    color: #3e3e3e; /* Cor do texto */
    font-size: 0.900rem; /* Tamanho da fonte */
    font-weight: 500; /* Peso da fonte */
}

.form {
    width: 100%; /* Largura completa do formulário */
    max-width: 780px; /* Máximo de largura permitida */
    display: flex; /* Flexbox para o alinhamento interno */
}

.form .search {
    width: 100%; /* Largura completa da área de pesquisa */
    max-width: 650px; /* Máximo de largura permitida */
    background: #fff; /* Fundo branco */
    height: 50px; /* Altura fixa */
    border-radius: 4px; /* Bordas arredondadas */
    margin-right: 20px; /* Margem à direita */
    display: flex; /* Flexbox para alinhamento interno */
    box-shadow: 0 4px 16px rgba(0,0,0,0.08); /* Sombra para destaque */
}

.form .search img {
    width: 26px; /* Largura da imagem */
    margin: 0 20px; /* Margem ao redor da imagem */
}

.form .search input {
    width: 100%; /* Largura completa do input */
    background: transparent; /* Fundo transparente */
    border: 0; /* Sem borda */
    outline: none; /* Sem contorno ao focar */
    font-size: 1rem; /* Tamanho da fonte */
}

.form .search input::placeholder {
    font-weight: 400; /* Peso da fonte do placeholder */
    color: #a6a6a6; /* Cor do placeholder */
}

.form button {
    width: 210px; /* Largura do botão */
    background: #ea1d2c; /* Cor de fundo do botão */
    color: #fff; /* Cor do texto do botão */
    font-weight: 400; /* Peso da fonte do botão */
    border: 0; /* Sem borda */
    border-radius: 4px; /* Bordas arredondadas */
}

.tags {
    margin: 30px 0; /* Margem ao redor das tags */
}

.tags span {
    font-size: 0.875rem; /* Tamanho da fonte das tags */
    font-weight: 400; /* Peso da fonte das tags */
    color: #818181; /* Cor das tags */
    border: 1px solid #ccc; /* Borda das tags */
    padding: 5px; /* Preenchimento interno das tags */
    border-radius: 10px; /* Bordas arredondadas das tags */
    margin: 6px; /* Espaçamento entre as tags */
}

.banner {
    display: flex; /* Flexbox para o alinhamento dos banners */
    justify-content: center; /* Centraliza os banners horizontalmente */
    padding: 20px; /* Preenchimento ao redor dos banners */
}

.banner img {
    width: 100%; /* Largura completa das imagens */
    max-width: 390px; /* Largura máxima permitida */
    margin: 0 10px; /* Margem ao redor das imagens */
    transition: 0.2s; /* Transição suave para efeitos */
}

.banner img:hover {
    transform: scale(1.02); /* Aumenta ligeiramente o tamanho ao passar o mouse */
}

.footer {
    margin: 20px; /* Margem ao redor do rodapé */
    border-top: 1px solid #dcdcdc; /* Linha no topo do rodapé */
    display: flex; /* Flexbox para o alinhamento interno */
    padding: 20px 0; /* Preenchimento vertical do rodapé */
}

.footer img {
    width: 50px; /* Largura do logo no rodapé */
}

.footer span {
    font-size: 0.8125rem; /* Tamanho da fonte do texto no rodapé */
    color: #818181; /* Cor do texto no rodapé */
    margin: 0 20px; /* Margem ao redor do texto no rodapé */
}
