* {
    box-sizing: border-box;
}
body {
    font-family: iFood RC Textos, helvetica, sans-serif;
    overflow-x: hidden;
    font-size: 16px;
    height: 100%;
    scroll-behavior: auto;
}

section{
    display: block;
}

html {
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    height: 100%;
}

.landing-v2-header{
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        background-color: #f7f7f7;
        z-index: 9997;
}
.landing-v2-header__brand{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
    height: 10px;
    max-width: 1280px;
    margin: 0 auto;
    
}
.landing-v2-header__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    height: 100px;
    max-width: 1280px;
    margin: 0 auto;
}

.landing-v2-header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1280px;

    margin: 0 auto;
    padding: 0px 25px 0px 10px;
    height: 100px;
}

.landing-v2-header__sing-in, .landing-v2-header__sing-up{
    height: 44px;
    border-radius: 6px;;
    font-size: 16px;
}

.landing-v2-header__sing-up {
    display: none;
    text-transform: lowercase;
    margin: 3px 0;
    padding: 0;
}
.landing-v2-header__sing-in, .landing-v2-header__sing-up {
    height: 34px;
    border-radius: 6px;
    padding: 0;
}



.btn {
    background: transparent;
    text-decoration: none;
    color: #ea1d2c;
    border: none;
    padding: 0 20px;
    border-radius: 4px;
    margin: 3px 0;
    height: 50px;
    font-weight: 500;
    transition: .1s;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.btn--default {
    background: #ea1d2c;
    color: #fff;
}

.btn--link {
    background: transparent;
    color: #ea1d2c;
}